.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*position: fixed; 
    top: 0; */
    width: 100%;
    
   
    
}

.header-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(78, 78, 82);
    padding: 5px;
    color: white;
 
}
a {
    color: unset;
    text-decoration: unset;
  }

