.teamCard {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
    width: 250px;
    border: solid  rgb(202, 194, 198);
    background-color: rgb(204, 193, 193);
    padding: 1%;
    margin: 1%;
   
}

img {
    border-radius: 10px;
    width: 75px;
    height: 75px;
}

h2 {
    line-height: 1%;
}

p {
    line-height: normal;
}

label {
    font-weight: bold;
}