.team-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60%;
    background-color: rgb(122, 111, 111);
    /*border-top-style: dotted;*/
    border: solid red;
    padding: 1%;
    
}

.myBody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1%;
  }
  